@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core

@model IEnumerable<Sportify.Data.ViewModels.Events.EventViewModel>

@{
    ViewData["Title"] = "All";
}

<br />

<h1 class="text-center text-primary">Events</h1>

<br />

<table class="table mx-auto table-hover">
    <thead>
        <tr class="row table-primary">
            <th class="col-md-2 text-center">
                Event Name
            </th>
            <th class="col-md-2 text-center">
                Date
            </th>
            <th class="col-md-1 text-center">
                Time
            </th>
            <th class="col-md-2 text-center">
                Organization
            </th>
            <th class="col-md-2 text-center">
                Discipline
            </th>
            <th class="col-md-2 text-center">
                Venue
            </th>
            <th class="col-md-1 text-center">
                Number of Participants
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row table-dark">
                <td class="col-md-2 text-center">
                    @item.EventName
                </td>
                <td class="col-md-2 text-center">
                    @item.Date
                </td>
                <td class="col-md-1 text-center">
                    @item.Time
                </td>
                <td class="col-md-2 text-center">
                    @item.Organization
                </td>
                <td class="col-md-2 text-center">
                    @item.Discipline
                </td>
                <td class="col-md-2 text-center">
                    @item.Venue
                </td>
                <td class="col-md-1 text-center">
                    @item.NumberOfParticipants
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.PagedListPager((IPagedList)@Model, page => Url.Action("All", new { page = page }),
        new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            UlElementClasses = new string[] { "pagination", "justify-content-center" },
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
        })
</div>

<br />