@model IEnumerable<Sportify.Data.ViewModels.Events.MyEventViewModel>

@{
    ViewData["Title"] = "MyEvents";
}

<br />

<h1 class="text-center text-primary">My Events</h1>

<br />

<table class="table mx-auto table-hover">
    <thead>
        <tr class="row table-primary">
            <th class="col-md-1 text-center">
                Date
            </th>
            <th class="col-md-1 text-center">
                Time
            </th>
            <th class="col-md-2 text-center">
                Event Name
            </th>
            <th class="col-md-1 text-center">
                Town
            </th>
            <th class="col-md-2 text-center">
                Venue
            </th>
            <th class="col-md-2 text-center">
                Sport
            </th>
            <th class="col-md-2 text-center">
                Discipline
            </th>
            <th class="col-md-1 text-center">
                Remaining Days
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model)
        {
            <tr class="row table-dark">
                <td class="col-md-1 text-center">@ev.Date</td>
                <td class="col-md-1 text-center">@ev.Time</td>
                <td class="col-md-2 text-center">@ev.EventName</td>
                <td class="col-md-1 text-center">@ev.Town</td>
                <td class="col-md-2 text-center">@ev.Venue</td>
                <td class="col-md-2 text-center">@ev.Sport</td>
                <td class="col-md-2 text-center">@ev.Discipline</td>
                <td class="col-md-1 text-center text-success"><h6>@ev.RemainingTime</h6></td>
            </tr>
        }
    </tbody>
</table>

<br />

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a>
</div>
