@model IEnumerable<Sportify.Data.ViewModels.Events.EventViewModel>

@{
    ViewData["Title"] = "Sport Events in ";
}

<br />

<h1 class="text-center">@this.ViewData["Title"] @this.ViewData["Country"]</h1>

<br />

@if (this.Model.Count() != 0)
{
    foreach (var item in Model)
    {
        <h4>@item.Date</h4>
        <table class="table">
            <tr class="row">
                <td class="col-md-1 text-left"><strong>@item.Time</strong></td>
                <td class="col-md-3 text-left">@item.EventName</td>
                <td class="col-md-2 text-left">@item.Sport</td>
                <td class="col-md-2 text-left">@item.Discipline</td>
                <td class="col-md-2 text-left">@item.Town, @item.Venue</td>
                <td class="col-md-2 text-center"><a asp-area="" asp-controller="Events" asp-action="Info" asp-route-id="@item.Id" class="btn btn-primary">Info</a></td>
            </tr>
        </table>
        <br />
    }
}
else
{
    <h2 class="text-center">There are not events!</h2>
}

<br/>

<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a>
</div>