@using Microsoft.AspNetCore.Identity
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Common
@using Sportify.Data.ViewModels.Messages

@model Sportify.Data.ViewModels.Users.UserIdViewModel

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "AllMessages";
}

<h2>AllMessages</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Content
            </th>
            <th>
                PublishedOn
            </th>
            <th>
                Role
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.ViewData["Messages"] as IEnumerable<MessageViewModel>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedOn)
                </td>
                <td>
                    @if (await this.UserManager.IsInRoleAsync(this.UserManager.Users.FirstOrDefault(u => u.UserName == item.Username), "User"))
                    {
                        <form asp-area="Administrator" asp-controller="UsersAdmin" asp-action="ChangeRole" method="post" class="form-horizontal text-center">
                            <input type="hidden" asp-for="UserId" value="@item.UserId" />
                            <button type="submit" class="btn btn-primary" value="User">User</button>
                        </form>
                    }
                    else
                    {
                        <form asp-area="Administrator" asp-controller="UsersAdmin" asp-action="ChangeRole" method="post" class="form-horizontal text-center">
                            <input type="hidden" asp-for="UserId" value="@item.UserId" />
                            <button type="submit" class="btn btn-primary" value="Editor">Editor</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    @Html.PagedListPager((IPagedList)this.ViewData["Messages"], page => Url.Action("AllUsers", new { page = page }),
    new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            UlElementClasses = new string[] { "pagination", "justify-content-center" },
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
        })
</div>
