@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core

@model IEnumerable<Sportify.Data.ViewModels.Organizations.OrganizationViewModel>

@{
    ViewData["Title"] = "All";
}

<br />

<h1 class="text-center">Organizations</h1>

<br />

<table class="table mx-auto table-hover">
    <thead>
        <tr class="row table-primary">
            <th class="col-md-3 text-center">
                Abbreviation
            </th>
            <th class="col-md-3 text-center">
                Organization Name
            </th>
            <th class="col-md-3 text-center">
                President
            </th>
            <th class="col-md-3 text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var organization in Model)
        {
            <tr class="row table-dark">
                <td class="col-md-3 text-center">
                    @organization.Abbreviation
                </td>
                <td class="col-md-3 text-center">
                    @organization.Name
                </td>
                <td class="col-md-3 text-center">
                    @organization.President
                </td>
                <td class="col-md-3 text-center">
                    <a asp-area="" asp-controller="Organizations" asp-action="Details" asp-route-id="@organization.Id" class="btn btn-success">Details</a>
                    <a asp-area="" asp-controller="Organizations" asp-action="Delete" asp-route-id="@organization.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    @Html.PagedListPager((IPagedList)@Model, page => Url.Action("All", new { page = page }),
        new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
            UlElementClasses = new string[] { "pagination", "justify-content-center" },
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
        })
</div>